<!--Header Starts -->
<header>
    <!--Upper Navbar Starts-->
    <div class="upperNavbar">
        <div class="admissionForm">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSd7cS27_vSAYCm825tyW7CbzMauUug3R8wX1l0WgwkDN4omYQ/viewform"
                target="_blank">Admission Form</a>
        </div>
        <div class="studentsLogin">
            <i class="fa-solid fa-user"></i>
            <a href="https://lms.fortunecloudindia.com/" target="blank">Student Login</a>
        </div>
    </div>
    <!--Upper Navbar Ends-->

    <!--Lower Navbar Starts-->
    <div class="lowerNavbar">
        <div class="lowerNavbarLogo">
            <img src="assets/logo/logon.png" alt="Fortune Cloud Logo">
        </div>
        <div class="lowerNavbarOptions">
            <div class="navbar">
                <a routerLink="home">Home</a>
                <a routerLink="aboutus">About Us</a>
                <div class="navbarDropdown">
                    <span>Services</span>
                    <i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a routerLink="courses">Job Oriented Course</a>
                        <a routerLink="staffing">Staffing and Recruitments</a>
                    </div>
                </div>
                <div class="navbarDropdown">
                    <span>Courses</span>
                    <i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a routerLink="IT">IT Software</a>
                        <a routerLink="cloud">Cloud Computing</a>
                    </div>
                </div>
                <a routerLink="review">Review</a>
                <a routerLink="blog">Blog</a>
                <a routerLink="gallery">Gallery</a>
                <a routerLink="contact">Contact</a>
            </div>
        </div>
    </div>
    <marquee>
        This is a sample scrolling text that has scrolls texts to left.
    </marquee>
</header>