<!--Header Starts -->
<header>
    <!--Upper Navbar Starts-->
    <div class="upperNavbar">
        <div class="admissionForm">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSd7cS27_vSAYCm825tyW7CbzMauUug3R8wX1l0WgwkDN4omYQ/viewform"
                target="_blank">Admission Form</a>
        </div>
        <div class="studentsLogin">
            <i class="fa-solid fa-user"></i>
            <a href="https://lms.fortunecloudindia.com/" target="blank">Student Login</a>
        </div>
    </div>
    <!--Upper Navbar Ends-->

    <!--Lower Navbar Starts-->
    <div class="lowerNavbar">
        <div class="lowerNavbarLogo">
            <img src="assets/logo/logon.png" alt="Fortune Cloud Logo">
        </div>
        <div class="lowerNavbarOptions">
            <div class="navbar">
                <a href="#">Home</a>
                <a href="#">About Us</a>
                <div class="navbarDropdown">
                    <span>Services</span>
                    <i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#">Job Oriented Course</a>
                        <a href="#">Staffing and Recruitments</a>
                    </div>
                </div>
                <div class="navbarDropdown">
                    <span>Courses</span>
                    <i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#">IT Software</a>
                        <a href="#">Cloud Computing</a>
                    </div>
                </div>
                <a href="#">Review</a>
                <a href="#">Blog</a>
                <a href="#">Gallery</a>
                <a href="#">Contact</a>
            </div>
        </div>
    </div>
</header>